@use '../../styles/vars' as *;
@use '../../styles/mixins' as *;

.title {
  @include h1;
  margin-bottom: 20px;
}

.timestamp {
  font-size: 15px;
  margin-bottom: 10px;
}

.text {
  font-size: 14px;

  & >*:not(:first-child) {
    margin-top: 10px;
  }
}