@use '../../styles/vars' as *;
@use '../../styles/mixins' as *;

.measurements {
  .measurement {
    padding: 20px;
    border: 1px solid $black;
    border-radius: 10px;
    & + .measurement {
      margin-top: 20px;
    }

    .measLink {
      @include link;
    }

    .measDescription {
      font-size: 15px;
    }
  }
}
